@import '~bulma/bulma.sass';

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Bangers', cursive;
  
  // background-image: url('/images/marvel .jpeg');
}

.home {
  background-image: url('/images/marvel .jpeg');
  background-size: cover ;
  background-position: center;
}

.card-header {
  background-color: rgb(194, 194, 194) ;
  // border-radius: 0px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 30px;
}

input, select {
  margin: 5px;
}

section {
  justify-content: center;
}

